<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Мои фильмы</title>
    </head>
    <body>
        <h1>Мои фильмы</h1>
        <ul>
            <% @movies.each do |movie| %>
                <li>
                    <a href="/movies/<%= movie.id %>"><%= movie.title %></a>
                </li>
            <% end %>
        </ul>
        <tr>
            <td><a href="/movies/new">Добавить новый фильм</a></td>
        </tr>
        <tr>
            <td><a href="/movies/delete">Удалить фильм фильм</a></td>
        </tr>
        <tr>
            <td><a href="/movies/change">Поменять информацию о фильме</a></td>
        </tr>
    </body>
</html>