<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Добавить новый фильм</title>
    </head>
    <body>
        <h1>Добавить новый фильм</h1>
        <form method="post" action="/movies/create">
            <table>
                <tr>
                    <td><label for="title">Название фильма:</label></td>
                    <td><input type="text" name="title"></td>
                </tr>
                <tr>
                    <td><label for="director">Режисёр:</label></td>
                    <td><input type="text" name="director"></td>
                </tr>
                <tr>
                    <td><label for="year">Год выхода:</label></td>
                    <td><input type="text" name="year"></td>
                </tr>
                <tr>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>
    <a href="/movies">Вернуться на главную</a>
    </body>
</html>